* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    height: 100%;
}

body {
    background-image: url("../images/background-3.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    max-width: 50rem;
    margin-bottom: 1rem;
    min-height: 12rem;
    align-items: flex-start;
}

.row.available-logo {
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
}

.available{
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 23rem;
    margin-top: 3rem;
}

.heroChar, .enemyChar {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 23rem;
}

.logo {
    flex: 0 0 15rem;    
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-right: 1rem;
}

.logo > img {
    width: 100%; 
}

.title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 0rem;
    padding: 1rem;
    width: 100%;
    min-width: 15rem;
}

.title > span {
    border-bottom: 1px solid #ddd;
    margin-right: auto;
    padding: 0 1rem;
}

.instructions {
    margin-left: 2rem;
}

.enemyChar > .instructions {
    display: none;
}

.character {
    position: relative;
    height: 6rem;
    width: 6rem;
    border: 1px solid white;
    border-radius: 6rem;
    overflow: hidden;
    background-color: black;
    opacity: 1;
    box-shadow: .2rem .2rem 1.5rem #ddd;
    transition: box-shadow .4s linear, opacity .8s linear, border .8s linear, background-color 2s ease;
    margin: 1rem;
}


@keyframes characterSparkle {
    from {box-shadow: .2rem .2rem 1.5rem #ddd;}
    to {box-shadow: .2rem .2rem 5rem 1rem #fff;}
}

@keyframes characterPulse {
    from {opacity: .8}
    to {opacity: .6}
}

.character:hover {
    cursor: pointer;
    box-shadow: .2rem .2rem 3rem .5rem #fff;
}

.character:active {
    box-shadow: none;
}

.character > img {
    position: relative;
    height: 100%;
    opacity: 1;
    transition: opacity 2s ease;
}

.character > .stat-hp {
    position: absolute;
    bottom: .5rem;
    font-size: .9rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

button {
    background-color: #d00;
    color: white;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: .5rem;
    box-shadow: .2rem .2rem 2rem rgba(256, 256, 256, .6); 
    transition-property: background-color, box-shadow;
    transition-duration: .3s; 
    transition-timing-function: linear;
    margin-left: 2rem;
}

button:hover {
    background-color: #f00;
}

button:active {
    box-shadow: none;
}
